#content
  #slider

  #sign_up
    %a{'href' => '/fb_auth/start'}  
      %img{'src' => '/images/fb_button.gif', 'class' => 'login_btn'}
    %a{'href' => '/twitter_auth/start'}  
      %img{'src' => '/images/tw_button.gif', 'class' => 'login_btn'}      
    %a{'href' => '/linked_auth/start'}  
      %img{'src' => '/images/li_button.png', 'class' => 'login_btn'}  