#content
  #slider
    
    %img{'src' => '/images/fp_promo.jpg', 'class' => 'fp_promo'} 
  #sign_up
    %h1.floating Connect now!
    %a{'href' => '/fb_auth/start'}  
      %img{'src' => '/images/fb_button.gif', 'class' => 'login_btn'}
    %a{'href' => '/twitter_auth/start'}  
      %img{'src' => '/images/tw_button.gif', 'class' => 'login_btn'}      
    %a{'href' => '#'}  
      %img{'src' => '/images/li_button.png', 'class' => 'login_btn'} 
    #about
      %p.left At Weminds we have the ambition to deliver social, timely, qualitative and relevant answers to our users. Get hassle-free answers from all your social networks in one place.