#content
  #slider
    -# %h1 Ask a question
    %textarea.qa{"placeholder" => "I wanna ask"}
    %a.send_btn{'href' => '#'} Send  
    %a.fb_btn{'href' => '#'}    
    %a.tw_btn{'href' => '#'} 
  #sign_up