#content
  #slider
    -# %h1 Ask a question
    %textarea#question.qa{"placeholder" => "I wanna ask"}
    %a.send_btn{'href' => '#', 'onclick' => 'sendQuestion($("#question").val())'} Send  
    %a.fb_btn.down#fb_button{'href' => 'javascript:void(0)'}    
    %a.tw_btn.down#tw_button{'href' => 'javascript:void(0)'} 
  #sign_up
