@import "compass/css3";
//@import "compass/layout/grid-background"

//-----------------------------------------------
// The following html5-boilerplate styles should
// probably be customized for each site
//-----------------------------------------------

body, select, input, textarea {
  color: $font-color;
  font-family: $base-font-family;
}

//Headers (h1, h2, etc) have no default font-size or margin; define those yourself
h1, h2, h3, h4, h5, h6 {
  // Bold might not be the best choice if you are
  // embedding a @font-face that's already bold
  font-weight: bold;
}

a, a:active, a:visited { color: $link-color; }
a:hover { color: $link-hover-color; }

strong, th {
  font-weight: bold;
}

small {
  // Use font-size mixin to convert to percentage for YUI
  // http://developer.yahoo.com/yui/3/cssfonts/#fontsize
  @include font-size(11px);  // approx 85% when base-font-size eq 13px
}

// Add the 'required' attribute on your
// inputs if you want to use these
input:valid, textarea:valid {}
input:invalid, textarea:invalid {
  @include border-radius(1px);
  @include box-shadow(red, 0, 0, 5px, 0);
}
.no-boxshadow input:invalid,
.no-boxshadow textarea:invalid { background-color: #f0dddd; }


//-----------------------------------
// Add your own custom styles below
//-----------------------------------

body {}
    
h1 {
    font-size:28px;
    text-align: center;
    font-family: Verdana;
}

#container {}

header {
    @include linear-gradient(color-stops(#333333, #4a4949));
    height:40px;
    padding:10px;
    color:#fff;
}

#main {
    background: url(/images/noize.png);
    @include stretch(61px, 0, 51px, 0);
}

footer {
     @include linear-gradient(color-stops(#4a4949, #333333));
    color: #fff;
    padding:10px;
}

/* Styles for the entire LavaLamp menu */

#logo {
    float: left;
}

#search_bar input {
    //background:none;
    width: 230px;
    height: 20px;
    //border: none;
    padding: 0 5px 0 5px;
    margin-bottom: 12px;
    font-size: 14px;
    color: #4a4949;
    //outline: none;
    @include border_radius(7px);
}

#user_menu {
    margin: 0px 0 0 0;
    float:left;
    width: 150px;
    text-align: right;
}

#user_menu a {
    margin: 4px;
}

#search_bar {
    margin: 7px 0 0 0;
    float:right;
    //background: transparent url(/images/search_bar.png) left top no-repeat;  
    width: 250px;
    height: 36px;  
}

.lavalamp {
    position: relative;
    width: 550px;
    height: 29px; 
    padding: 5px; 
    margin: 0;
    overflow: hidden;
    float: left;
}
    /* Force the list to flow horizontally */
    .lavalamp li {
        float: left;
        list-style: none;
    }
        /* Represents the background of the highlighted menu-item. */
        .lavalamp li.back {
            //width: 20px; 
            height: 30px;
            z-index: 8;
            position: absolute;
            border-bottom: 5px solid #b8da3e;
        }
            .lavalamp li.back .left {
                height: 30px;
                margin-right: 9px;
                //border-bottom: 5px solid #b8da3e;
                z-index: 8;
                position: absolute;
            }
        /* Styles for each menu-item. */
        .lavalamp li a {
            position: relative; overflow: hidden;
            text-decoration: none;
            text-transform: uppercase;
            font: bold 12px helvetica;
            color: #ccc; 
            outline: none;
            text-align: center;
            height: 30px; 
            top: 7px;
            z-index: 10; 
            letter-spacing: 1px;
            float: left; display: block;
            margin: auto 10px;
        }
       

#content {
    @include display-box;
      @include box-orient(horizontal);
      @include box-align(stretch);
      @include box-direction(reverse);
      height: 100%;
      width: 100%;
}

#slider, #sign_up {
    padding: 20px; 

}

#sign_up {
    //@include box-flex(1);
    margin: 20px 20px 20px 20px;
    width: 250px;
    background-color: #c5c1b4;
    @include single-box-shadow;
    @include opacity(0.9);
}

#slider {
    @include box-flex(4);
    background-color: #375f99;
    margin: 20px 20px 20px 0;
    @include single-box-shadow;
    @include opacity(0.9);
}

.login_btn {
    padding: 5px 0 5px 0;
}

