%small.copyright
  Copyright &copy; <a href="http://theappfellas.com">AppFellas</a> #{Date.today.year} (This project was developed during Startup Weekend Hamburg 2011 as Weminds but then renamed to StatusBall due to some legal issues)