#logo
  %img{'src' => '/images/logo.png'}
%ul.lavalamp
  %li
    %a{'href' => '#'} Home
  %li
    %a{'href' => '#'} Blog
  %li    
    %a{'href' => '#'} About
  %li    
    %a{'href' => '#'} Profile
#search_bar
  %input{'type' => 'text'}
