#logo
  %img{'src' => '/images/logo.png'}
%ul.lavalamp
  %li
    %a{'href' => '#'} Home
  %li
    %a{'href' => '#'} QFeed
  %li    
    %a{'href' => '#'} About

#user_menu
  %a{'href' => '/dashboard/profile'} Profile
  %a{'href' => '/dashboard/services'} Services
  %a{'href' => '/dashboard/logout'} Logout
  
#search_bar
  %input{'type' => 'text'}
