#logo
  %p.logo StatusBall
%ul.lavalamp
  %li
    %a{'href' => '#'} Home
  %li
    %a{'href' => '#'} Feed
  %li    
    %a{'href' => '#'} About

- if (@authorized)
  #user_menu
    %a{'href' => 'javascript:void(0)'} Profile
    %a{'href' => 'javascript:void(0)'} Services
    %a{'href' => 'javascript:void(0)'} Logout
 
-#search_bar
  -#%input{'type' => 'text'}
